<footer class="text-white text-center text-lg-start bg-primary">

    <div class="container p-4">

        <div class="row mt-4">

            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-light mb-4">BÁO MỚI</h5>
                <p>
                    Cấm sao chép dưới mọi hình thức nếu không có sự chấp thuận bằng văn bản
                </p>
                <p>
                    © 2022 Copyright: webtintuc55@gmail.com
                </p>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span><h5 class="text-uppercase ms-2">liên hệ</h5>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">141 Chiến Thắng, Tân Triều, Thanh Trì, Hà Nội</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">Email: webtintuc55@gmail.com</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">Email quảng cáo: quangcao55@gmail.com</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">Điện thoại: 1900 1900</span>
                    </li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Bản đồ</h5>
                <div class="iframe">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.3151200685425!2d105.79349141532224!3d20.980001786024825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acc51191abcb%3A0x47247696a51de226!2zMTQxIENoaeG6v24gVGjhuq9uZywgVMOibiBUcmnhu4F1LCBIw6AgxJDDtG5nLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1652288484821!5m2!1svi!2s"
                            width="407" height="250" style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>

            </div>
        </div>
    </div>

</footer>