<header class="site-header p-3 bg-primary mb-3 border-bottom sticky-top py-1"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div class="container">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-0 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <div class="menu-bar nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="Index.html" class="nav-link px-2 ">Trang chủ</a></li>
                    <li><a href="Xahoi.html" class="nav-link px-2 link-light">Xã hội</a></li>
                    <li><a href="Kinhte.html" class="nav-link px-2 link-light">Kinh tế</a></li>
                    <li><a href="Chinhtri.html" class="nav-link px-2 link-light">Chính trị</a></li>
                    <li><a href="Giaoduc.html" class="nav-link px-2 link-light">Giáo dục</a></li>
                    <li><a href="Thethao.html" class="nav-link px-2 link-light">Thể thao</a></li>
                    <li><a href="Thegioi.html" class="nav-link px-2 link-light">Thế giới</a></li>
                    <li><a href="Vanhoa.html" class="nav-link px-2 link-light">Văn hóa</a></li>
                    <li><a href="Giaitri.html" class="nav-link px-2 link-light">Giải trí</a></li>
                </ul>

            </div>

<!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">-->
<!--                <input type="search" class="form-control" placeholder="Tìm kiếm..." aria-label="Search">-->
<!--            </form>-->
            <div class="text-end">
                <a href="SignIn.html"><button  type="button" class="btn btn-primary me-2">Đăng nhập</button></a>
                <a href="SignUp.html"><button type="button" class="btn btn-primary">Đăng ký</button></a>
            </div>


        </div>

    </div>





</header>