<header class="site-header p-3 bg-primary mb-3 border-bottom sticky-top py-1"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div class="container">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-0 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <div class="menu-bar nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a th:href="@{/home}" class="nav-link px-2 ">Trang chủ</a></li>
                    <li><a th:href="@{/category?id=1}" class="nav-link px-2 link-light">Xã hội</a></li>
                    <li><a th:href="@{/category?id=2}" class="nav-link px-2 link-light">Thể thao</a></li>
                    <li><a th:href="@{/category?id=3}" class="nav-link px-2 link-light">Giải trí</a></li>
                    <li><a th:href="@{/category?id=4}" class="nav-link px-2 link-light">Thế giới</a></li>
                    <li><a th:href="@{/category?id=5}" class="nav-link px-2 link-light">Kinh doanh</a></li>
                    <li><a th:href="@{/category?id=6}" class="nav-link px-2 link-light">Giáo dục</a></li>
                    <li><a th:href="@{/category?id=7}" class="nav-link px-2 link-light">Pháp Luật</a></li>
                    <li><a th:href="@{/category?id=8}" class="nav-link px-2 link-light">Văn hóa</a></li>
                </ul>

            </div>

<!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">-->
<!--                <input type="search" class="form-control" placeholder="Tìm kiếm..." aria-label="Search">-->
<!--            </form>-->
            <div class="text-end">
                <a sec:authorize="isAnonymous()" th:href="@{/login}"><button  type="button" class="btn btn-primary me-2">Đăng nhập</button></a>
                <a sec:authorize="isAnonymous()" th:href="@{/register}"><button  type="button" class="btn btn-primary me-2">Đăng ký</button></a>
                <a sec:authorize="isAuthenticated()"><button  type="button" class="btn btn-primary me-2">Xin Chào,<span th:utext="${#authentication.getPrincipal().getAttributes().get('family_name').toString()}" /></button></a>
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}"><button  type="button" class="btn btn-primary me-2">Đăng xuất</button></a>

            </div>


        </div>

    </div>





</header>