<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức trong ngày</title>
    <link rel="stylesheet" th:href="@{Style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<main class="container">

        <div class="p-4 p-md-5 mb-4 text-black rounded bg-white">

            <div class="row post-item">

                <div class="tit col-md-6 px-0">
                    <a th:href="@{|/news?id=${headNews.id}|}" class="text-black fw-normal text-decoration-none">
                        <h1 class="display-4 fw-bolder" th:text="${headNews.title}"></h1>
                    </a>
                    <a th:href="@{|/news?id=${headNews.id}|}" class="text-black fw-normal"><p  class="lead mb-0" th:text="${headNews.shortdescription}"></p></a>
                </div>
                <div class="tit col-md-6">
                    <a th:href="@{|/news?id=${headNews.id}|}"><div class="article-thumb">
                        <img alt="Mỹ ban bố tình trạng khẩn cấp do đậu mùa khỉ" height="344" loading="lazy"
                             src="https://icdn.dantri.com.vn/zoom/516_344/2022/08/05/myepa-1659661172557.jpg"
                             srcset="https://icdn.dantri.com.vn/zoom/516_344/2022/08/05/myepa-1659661172557.jpg 1x, https://icdn.dantri.com.vn/zoom/1032_688/2022/08/05/myepa-1659661172557.jpg 2x"
                             width="516" /> </div></a>
                </div>


            </div>


        </div>

        <div class="row mb-2">
            <div class="col-md-6" th:each="news : ${bodyList}">

                <div class="post-item row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <a th:href="@{|/news?id=${news.id}|}" class="text-black fw-normal text-decoration-none">
                            <h3 class="mb-0" th:text="${news.title}"></h3>

                            <p class="card-text mb-auto" th:text="${news.shortdescription}"></p>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <a th:href="@{|/news?id=${news.id}|}"><img src="/Content/images/HOME/demo2.webp" class="rounded float-start bd-placeholder-img" width="200" height="250" alt="">  </a>
                    </div>
                </div>
            </div>
        </div>

    <!--    -->
    <div class="row g-5">
        <div class="col-md-8">
                <article class="blog-post" th:each="news: ${footList}">
                    <div class="post-item col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col-auto d-none d-lg-block">
                                <a th:href="@{|/news?id=${news.id}|}"><img src="/Content/images/HOME/demo3.webp"
                                                class="rounded float-end bd-placeholder-img" alt=""> </a>

                            </div>
                            <div class="col p-4 d-flex flex-column position-static">

                                <a th:href="@{|/news?id=${news.id}|}" class="b text-black fw-normal text-decoration-none">
                                    <h3 class="mb-0" th:text="${news.title}"></h3>
                                    <div class="mb-1 text" ></div>
                                    <p class="card-text mb-auto" th:text="${news.shortdescription}"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
        </div>
        <!--        lấy random title-->
        <!--        <div class="col-md-4">-->
        <!--            <div class="position-sticky" style="top: 2rem;">-->
        <!--                <div class="p-4 mb-3 bg-light rounded">-->
        <!--                    <div class="list-group list-group-flush">-->

        <!--                        <a href="#" class="list-group-item list-group-item-action ">Quân Nga có thể vượt sông chiến lược ở Đông Ukraine, binh sĩ Kiev báo động</a>-->
        <!--                        <a href="#" class="list-group-item list-group-item-action ">Quân Nga có thể vượt sông chiến lược ở Đông Ukraine, binh sĩ Kiev báo động</a>-->


        <!--                    </div>-->

        <!--                </div>-->


        <!--            </div>-->

        <!--        </div>-->
    </div>


    <!--    phân trang-->

</main>


<th:block th:include="_footer"></th:block>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>